*{
    margin: 0;
    background-color: black;
    background-image: url(img-fundo.svg);
    color: #FFFFFF;
    font-family:'inter';
}

#img-logo{
    margin-top: 52px;
    margin-left: 56px;
    width: 125px;
    height: 62px;
}

#text{
    margin-top: 50px;
    margin-left: 150px;
    position: absolute;
}

#text-baixo{
    position: absolute;
    margin-top: 160px;
    margin-left: 150px;
}
